.btn {
  cursor: pointer;
  padding: 20px 40px;
  text-transform: uppercase;
  background: #f1c40f;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  /* Fix overflowing border */
  border: none;
}

.btn::before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2ce771;
  /* To center text */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Rotate until behind */
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}
.btn:hover::before,
.btn:hover::after {
  /* Flip forward on hover */
  transform: rotateX(0);
}

.btn::after {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  /* To center text */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Rotate until behind */
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;

  /* Delay for red */
  transition-delay: 0.25s;
}
