.btn {
  cursor: pointer;
  background: #262626;
  font-size: 40px;
  border: 4px solid #262626;
  padding: 40px 80px;
  position: relative;
  /* Hide original text */
  color: transparent;
  overflow: hidden;
}
.btn::before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fffa65;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.btn::after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fffa65;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  /* Start from at BOTTOM LEFT */
  transform: translate(-100%, 100%);
}
.btn:hover::before {
  /* Moves to TOP RIGHT */
  transform: translate(100%, -100%);
}
.btn:hover::after {
  /* Moves to original position */
  transform: translate(0, 0);
}

/* Mobile */
@media (max-width: 575px) {
  .btn {
    font-size: 20px;
    padding: 20px 40px;
  }
}
